.modal {
  animation: cus 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1039;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1040;
}

.modal-wrapper {
  animation: cus 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  min-height: 93%;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 10px;
  max-width: 1023px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 15px;
  z-index: 1050;
  .header {
    height: 3em;
    position: relative;
    //    color: #6b17e6;
    padding-bottom: 3em;
    border-bottom: solid #6b17e6;
    .modal__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 37px;
      height: 2em;
      position: absolute;
      right: 10px;
      top: 0px;
      padding: 0 10px;
      transition: all 0.3s ease-in-out;
      background-color: transparent;
      cursor: pointer;
      > span {
        position: relative;
        display: block;
        width: 100%;
        height: 2.8px;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        backface-visibility: hidden;
        border-radius: 2px;

        &:after,
        &:before {
          content: "";
          position: absolute;
          left: 0;
          height: 2.8px;
          background-color: #000000;
          transition: all 0.3s;
          backface-visibility: hidden;
          border-radius: 2px;
        }

        &:after,
        &:before {
          height: 2px;
          width: 100%;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .modal-content {
    min-width: 100%;
    min-height: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;

    .modal-intro {
      word-break: normal;
      font-size: 1.1em;
      padding: 0;
    }
    .image-wrapper {
      height: 100%;
      .modal-image {
        background-image: url(../../assets/img/jamiu.JPG);
        background-size: cover;
        min-width: 20em;
        min-height: 25em;
      }
    }
  }
}

@keyframes cus {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (max-width: 669px) {
  .modal {
    .modal-wrapper {
      .modal-content {
        grid-template-columns: 1fr;

        .modal-intro {
          > p {
            font-size: 1em;
          }
        }
      }
    }
  }
}
